<!DOCTYPE html>

<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{metaTag.headerTitle}}</title>
    <link rel="stylesheet" href="css/sanitize.css" />
    <link rel="stylesheet" href="css/fonts.css" />
    <link rel="stylesheet" href="css/widget.css" />
    <link rel="stylesheet" href="css/errorNotification.css" />
    {{#error}}
    <link rel="stylesheet" href="css/globalError.css" />
    {{/error}}
    <link rel="icon" type="image/png" sizes="any" href="images/favicon.png">
    <base href={{baseUrl}}>
</head>
<body>
