<div class="error_wrapper">
    <img src="https://uploads-ssl.webflow.com/617fbee004d9ae0e43297700/6347f081beb57e1344756db2_img_icon_error_filler_red.svg" loading="lazy" alt="" class="error_icon">
    <div>
        <div class="error_title">{{localizationError.errorTitle}}</div>
        <div>{{localizationError.errorText}}</div>
    </div>
</div>

