<div class="error_wrapper">
    <img src="images/icon-error.svg" loading="lazy" alt="{{localizationError.iconAlt}}" class="error_icon">
    <div>
        <h1 class="error_title">{{localizationError.errorTitle}}</h1>
        <p>{{localizationError.errorText}}
            {{#error}}
                <a href="{{errorReportEmailLink}}">
                    {{localizationError.errorReportEmail}}
                </a>
            {{/error}}
        </p>
    </div>
</div>

