<div class="error_wrapper">
    <img src="images/icon-error.svg" loading="lazy" alt="" class="error_icon">
    <div>
        <div class="error_title">{{localizationError.errorTitle}}</div>
        <div>{{localizationError.errorText}}</div>
    </div>
</div>

