/* BundesSans */
@font-face {
  font-family: 'BundesSansWeb Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/BundesSans-Web-Regular.woff2') format('woff2'), url('../fonts/BundesSans-Web-Regular.woff') format('woff');
}

@font-face {
  font-family: 'BundesSansWeb RegularItalic';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/BundesSans-Web-RegularItalic.woff2') format('woff2'), url('../fonts/BundesSans-Web-RegularItalic.woff') format('woff');
}

@font-face {
  font-family: 'BundesSansWeb Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/BundesSans-Web-Bold.woff2') format('woff2'), url('../fonts/BundesSans-Web-Bold.woff') format('woff');
}

@font-face {
  font-family: 'BundesSansWeb BoldItalic';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/BundesSans-Web-BoldItalic.woff2') format('woff2'), url('../fonts/BundesSans-Web-BoldItalic.woff') format('woff');
}
