.default-error {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
}

.default-error a {
    color: #004b76;
    text-decoration: underline;
}

.default-error p {
    line-height: 22px;
    margin: 0;
}
