/* WIDGET ERROR */
.error_title {
    margin-bottom: 4px;
    font-size: 1.125rem;
    font-weight: 700;
}

.error_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 28px;
    padding: 16px 14px 13px 16px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    border-left-width: 8px;
    border-left-color: #b0243f;
    border-radius: 10px;
    background-color: #f9e5ec;
    line-height: 1.2;
}
