<!DOCTYPE html>

<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Authentication</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<div class="container">
    <ul>
        <li>Download</li>
        <li class="active">Scan</li>
    </ul>
    <div>
        <img id="downloadQR" src="/api/v1/qrcode/100?url=http%3A%2F%2Fwww.google.com">
    </div>
</div>

</body>
</html>