{{>layout/header}}
<div class="container incompatible">
    <div class="widget">
        <div class="incompatible-notification__wrapper">
            <img src="images/widget-incompatible.svg" alt="{{localization.headlineImageAlt}}" />
            <h1>{{localization.headlineTitle}}</h1>
            <p>{{localization.requirementTitle}}</p>
            <ul role="list">
                <li>
                    <p>{{localization.androidTitle}}</p>
                    <p>{{localization.androidRequirement}}</p>
                </li>
                <li>
                    <p>{{localization.iphoneTitle}}</p>
                    <p>{{localization.iphoneRequirement}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
{{>layout/footer}}
