<!DOCTYPE html>

<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DigitalService GmbH des Bundes</title>
    <link rel="stylesheet" href="css/sanitize.css" />
    <link rel="stylesheet" href="css/fonts.css" />
    <link rel="stylesheet" href="css/widget.css" />
    <link rel="icon" type="image/png" sizes="any" href="images/favicon.png">
</head>
<body>
    <div class="container widget incompatible">
        <div class="incompatible-notification__wrapper">
            <img src="images/widget-incompatible.svg" alt="image of device" />
            <h1>Ihr Smartphone ist nicht mit der BundesIdent App kompatibel.</h1>
            <h3>Mindestvoraussetzungen:</h3>
            <ul role="list">
                <li>
                    <p>Android</p>
                    <p>Android 9 »Pie« und ein NFC-Sensor.</p>
                </li>
                <li>
                    <p>iPhone</p>
                    <p>iOS 15 & iPhone 7.</p>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
