<div
  layout:decorate="~{layout/base}"
  layout:fragment="content"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <div class="container incompatible">
    <div class="widget">
      <div class="incompatible-notification__wrapper">
        <img
          src="images/widget-incompatible.svg"
          th:alt="#{widget.incompatible.headline-image-alt}"
        />
        <h1 th:text="#{widget.incompatible.headline-title}"></h1>
        <p th:text="#{widget.incompatible.requirement-title}"></p>
        <ul role="list">
          <li>
            <p th:text="#{widget.incompatible.android-title}"></p>
            <p th:text="#{widget.incompatible.android-requirement}"></p>
          </li>
          <li>
            <p th:text="#{widget.incompatible.iphone-title}"></p>
            <p th:text="#{widget.incompatible.iphone-requirement}"></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
