<div
  layout:decorate="~{layout/base}"
  layout:fragment="content"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <div class="container" th:classappend="${additionalClass}">
    <div class="widget">
      <div
        th:if="${isFallback}"
        th:insert="fragments/error :: notification(text=#{widget.fallback.error.text})"
      ></div>
      <div class="cards">
        <img
          class="img-responsive"
          src="images/id-1x.png"
          th:alt="#{widget.headline-image-alt}"
          srcset="images/id-2x.png 2x"
        />
        <img
          class="app-icon"
          src="images/app-icon.svg"
          th:alt="#{widget.app-icon-image-alt}"
        />
      </div>
      <div class="headline">
        <h1>
          <span th:text="#{widget.headline-title}"></span>
        </h1>
      </div>
      <div class="app-stores">
        <div class="app-stores__wrapper">
          <img
            class="icon-list"
            src="images/list-1.svg"
            th:alt="#{widget.step-one-alt}"
          />
          <div class="app-stores__content">
            <h2 th:text="#{widget.download-title}"></h2>
            <div class="app-stores__content__images">
              <a th:href="#{widget.play-store-url}" target="_blank">
                <img
                  class="play-store"
                  loading="lazy"
                  src="images/play-store.svg"
                  th:alt="#{widget.play-store-alt}"
                />
              </a>
              <a th:href="#{widget.app-store-url}" target="_blank">
                <img
                  class="app-store"
                  loading="lazy"
                  src="images/app-store.svg"
                  th:alt="#{widget.app-store-alt}"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        class="qrcode"
        style="
          background-color: #e0f1fb;
          border-radius: 10px;
          padding: 12px;
          color: #0b0c0c;
          display: flex;
          grid-column-gap: 9px;
          grid-row-gap: 9px;
          margin-top: 10px;
        "
      >
        <img
          class="icon-list"
          src="images/list-2.svg"
          th:alt="#{widget.step-two-alt}"
        />
        <div class="app-stores__content">
          <h2 style="margin-top: 0; margin-bottom: 0.5rem">QR-Code scannen</h2>
          <div id="qrcode" style="background: white; padding: 0.4rem"></div>
        </div>
      </div>
      <div class="data-privacy-wrapper">
        <a
          th:href="#{widget.data-privacy-url}"
          target="_blank"
          class="data-privacy-button"
          th:text="#{widget.data-privacy-button} + ' &#8599;'"
        >
        </a>
      </div>
    </div>
    <script src="js/qrcode.min.js"></script>
    <script type="text/javascript" src="js/eventSource.js"></script>
    <script type="text/javascript">
      let qrCode, tcToken, hash, useIdSessionId;
      const baseUrl = "desktopident://127.0.0.1:24727/eID-Client";

      function refreshTimeBasedToken() {
        fetch(`/api/v1/identification/sessions/${useIdSessionId}/tokens`, {
          method: "POST",
        })
          .then((r) => r.json())
          .then((jsonResponse) => {
            const url = `${baseUrl}?${tcToken}&${hash}&widgetSessionId=${widgetSessionId}&tokenId=${jsonResponse.tokenId}`;
            qrCode.makeCode(url);
            setTimeout(refreshTimeBasedToken, 50000);
          });
      }

      window.addEventListener("load", () => {
        hash = `hash=${new URL(window.location).searchParams.get("hash")}`;
        tcToken = window.location.hash.replace("#", "");
        useIdSessionId = decodeURIComponent(tcToken).match(
          /sessions\/([a-f\d\-]*)\/tc-token/i
        )[1];
        console.log("useIdSessionId: " + useIdSessionId);
        qrCode = new QRCode(document.getElementById("qrcode"), {
          colorDark: "#004b76",
          correctLevel: QRCode.CorrectLevel.L,
        });
        refreshTimeBasedToken();
      });
    </script>
    <script type="text/javascript">
      function createUser() {
        let credentialId;
        fetch(`/api/v1/credentials`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            widgetSessionId: widgetSessionId,
            refreshAddress: "https://digitalservice.bund.de",
          }),
        })
          .then((r) => r.json())
          .then((startRegistrationResponse) => {
            console.log(startRegistrationResponse);
            credentialId = startRegistrationResponse.credentialId;
            let pkcCreationOptions =
              startRegistrationResponse.pkcCreationOptions;

            const enc = new TextEncoder();
            pkcCreationOptions.publicKey.challenge = enc.encode(
              pkcCreationOptions.publicKey.challenge
            );
            pkcCreationOptions.publicKey.user.id = enc.encode(
              pkcCreationOptions.publicKey.user.id
            );
            console.log(pkcCreationOptions);

            return navigator.credentials.create(pkcCreationOptions);
          })
          .then((cred) => {
            cred.response.transports = cred.response.getTransports();
            cred.clientExtensionResults = cred.getClientExtensionResults();
            // cred.rawId = decodeArrayBuffer(cred.rawId)
            // cred.response.clientDataJSON = decodeArrayBuffer(cred.response.clientDataJSON)
            // cred.response.attestationObject = decodeArrayBuffer(cred.response.attestationObject)
            console.log(cred);

            fetch(`/api/v1/credentials/${credentialId}`, {
              method: "PUT",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(cred),
            });
          });
      }
      function decodeArrayBuffer(buffer) {
        return String.fromCharCode.apply(null, new Uint8Array(buffer));
      }
      createUser();
    </script>
  </div>
</div>
