<div
  layout:decorate="~{layout/base}"
  layout:fragment="content"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <div class="container" th:classappend="${additionalClass}">
    <div class="widget">
      <div
        th:if="${isFallback}"
        th:insert="~{fragments/error :: notification(text=#{widget.fallback.error.text})}"
      ></div>
      <div class="cards">
        <img
          class="img-responsive"
          src="images/id-1x.png"
          th:alt="#{widget.headline-image-alt}"
          srcset="images/id-2x.png 2x"
        />
        <img
          class="app-icon"
          src="images/app-icon.svg"
          th:alt="#{widget.app-icon-image-alt}"
        />
      </div>
      <div class="headline">
        <h1>
          <span th:text="#{widget.headline-title}"></span>
        </h1>
      </div>
      <div class="app-stores">
        <div class="app-stores__wrapper">
          <img
            class="icon-list"
            src="images/list-1.svg"
            th:alt="#{widget.step-one-alt}"
          />
          <div class="app-stores__content">
            <h2 th:text="#{widget.download-title}"></h2>
            <div class="app-stores__content__images">
              <a th:href="#{widget.play-store-url}" target="_blank">
                <img
                  class="play-store"
                  loading="lazy"
                  src="images/play-store.svg"
                  th:alt="#{widget.play-store-alt}"
                />
              </a>
              <a th:href="#{widget.app-store-url}" target="_blank">
                <img
                  class="app-store"
                  loading="lazy"
                  src="images/app-store.svg"
                  th:alt="#{widget.app-store-alt}"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <a
        id="eid-client-button"
        th:href="${eidClientURL}"
        target="_blank"
        class="identify"
        th:title="#{widget.identification-button-title}"
      >
        <img
          class="icon-list"
          src="images/list-2.svg"
          th:alt="#{widget.step-two-alt}"
        />
        <h2 th:text="#{widget.identification-button}"></h2>
      </a>
      <div class="data-privacy-wrapper">
        <a
          th:href="#{widget.data-privacy-url}"
          target="_blank"
          class="data-privacy-button"
          th:text="#{widget.data-privacy-button} + ' &#8599;'"
        >
        </a>
      </div>
    </div>
    <!--/*
      -  Wrap everything inside closures to not add to the global namespace
      -  No document ready needed because we are at the end of the document
      -  Inlining javascript to save additional requests to the server
      -  Render tenantId as a javascript variable
      -  Comment won't be visible in the html according to Thymeleaf docs
    */-->
    <script th:inline="javascript" type="text/javascript">
      (function(){
        const tenantId = [[${tenantId}]];
        document
                .getElementById("eid-client-button")
                .addEventListener("click", async function () {
                  const hash = new URL(window.location).searchParams.get("hash");
                  await fetch(`/start-ident-button-clicked?hash=${hash}&tenant_id=${tenantId}`, {
                    cache: "no-store",
                    method: "POST",
                    keepalive: true,
                  });
                });
      })();
    </script>
    <script th:if="${isWidget}" type="text/javascript" th:inline="javascript">
      (function () {
        const tenantId = [[${tenantId}]];
        const hash = new URL(window.location).searchParams.get("hash");
        const tcTokenURLParam = window.location.hash.replace("#", "");

        const eidClientButton = document.getElementById("eid-client-button");
        const eidClientURL = `${eidClientButton.baseURI}eID-Client?${tcTokenURLParam}&hash=${hash}&tenant_id=${tenantId}`;
        eidClientButton.setAttribute("href", eidClientURL);
      })();
    </script>
  </div>
</div>
