<!DOCTYPE html>

<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DigitalService GmbH des Bundes</title>
    <link rel="stylesheet" href="css/sanitize.css" />
    <link rel="stylesheet" href="css/fonts.css" />
    <link rel="stylesheet" href="css/widget.css" />
</head>

<body>
    <div class="container widget" id="widget">
        <div class="cards">
           <img class="img-responsive" src="images/id-1x.png" alt="image of id card" srcset="images/id-2x.png 2x" />
           <img class="app-icon" src="images/app-icon.svg"  alt="app icon" />
        </div>
        <div class="headline">
            <h1>Mit Bundes Login <br> online ausweisen</h1>
        </div>
        <div class="app-stores">
            <div class="connector-inside"></div>
            <div class="app-stores__wrapper">
                <img class="icon-list" src="images/list-1.svg" alt="first list" />
                <div class="app-stores__content">
                    <h2>Bundes Login herunterladen</h2>
                    <div class="app-stores__content--images">
                        <img class="play-store" src="images/play-store.svg" alt="google play store" />
                        <img class="app-store" src="images/app-store.svg" alt="apple app store" />
                    </div>
                </div>
            </div>
        </div>
        <div class="connector-outside"></div>
        <a href="eid://127.0.0.1" class="identify">
            <img class="icon-list" src="images/list-2.svg" alt="second list" />
            <h2>Mit Bundes Login ausweisen</h2>
        </a>
    </div>
</body>
</html>
