{{>layout/header}}
<div class="container {{additionalClass}}">
    <div class="widget">
        {{#localizationError}}
            {{>components/errorNotification}}
        {{/localizationError}}
        <div class="cards">
           <img class="img-responsive" src="images/id-1x.png" alt="{{localization.headlineImageAlt}}" srcset="images/id-2x.png 2x" />
           <img class="app-icon" src="images/app-icon.svg" alt="{{localization.appIconImageAlt}}" />
        </div>
        <div class="headline">
            <h1>{{localization.headlineTitleTop}} <br> {{localization.headlineTitleBottom}}</h1>
        </div>
        <div class="app-stores">
            <div class="connector-inside"></div>
            <div class="app-stores__wrapper">
                <img class="icon-list" src="images/list-1.svg" alt="{{localization.stepOneAlt}}"/>
                <div class="app-stores__content">
                    <h2>{{localization.downloadTitle}}</h2>
                    <div class="app-stores__content__images">
                        <a href={{mobileUrl.playStoreUrl}} target="_blank">
                            <img class="play-store" loading="lazy" src="images/play-store.svg" alt="{{localization.playStoreAlt}}" />
                        </a>
                        <a href={{mobileUrl.appStoreUrl}} target="_blank">
                            <img class="app-store" loading="lazy" src="images/app-store.svg" alt="{{localization.appStoreAlt}}" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="connector-outside"></div>
        <a id="eid-client-button" href={{eidClientURL}} target="_blank" class="identify" title="{{localization.identificationButtonTitle}}">
            <img class="icon-list" src="images/list-2.svg" alt="{{localization.stepTwoAlt}}"/>
            <h2>{{localization.identificationButton}}</h2>
        </a>
        <div class="data-privacy-wrapper">
            <a id="eid-client-button" href={{mobileUrl.dataPrivacy}} target="_blank" class="data-privacy-button">
                {{localization.dataPrivacyButton}} ↗
            </a>
        </div>
    </div>
    <script type="text/javascript" src="js/attachStartIdentButtonOnClick.js"></script>
    {{#isWidget}}
        <script type="text/javascript" src="js/identifyHandler.js"></script>
    {{/isWidget}}
</div>
{{>layout/footer}}
